<!-- footer  -->
<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 segment-one md-mb-30 sm-mb-30">
                    <h3>The Uplift Foundation</h3>
                    <p>Driven by a passion to serve the society, united by youth effort and commitment. Based in the UAE.</p>
                </div>
                <div class="col-lg-4 segment-two md-mb-30 sm-mb-30">
                    <h2>Useful Links</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'home' %}#VM">Vision & Mission</a></li>
                        <li><a href="{% url 'home' %}#about">About</a></li>
                        <li><a href="{% url 'home' %}#team">Team</a></li>
                        <li><a href="{% url 'blogs' %}">Blog</a></li>
                        <li><a href="{% url 'home' %}#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 segment-three md-mb-30 sm-mb-30">
                    <h2>Follow Us</h2>
                    <p>Please follow us on our social media</p>
                    <a href="https://www.facebook.com/uplift.ae/"><i class="fa fa-facebook"></i></a> 
                    <a href="https://twitter.com/TheUpliftFound1"><i class="fa fa-twitter"></i></a> 
                    <a href="https://instagram.com/the.uplift.foundation"><i class="fa fa-instagram"></i></a> 
                    <a href="https://www.linkedin.com/in/the-uplift-foundation-a624761ab"><i class="fa fa-linkedin"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-text">
        <p>Copyright &copy; The Uplift Foundation 2020. All rights reserved.</p>
    </div>
</footer>
<!-- "col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30" -->
<!-- New footer CSS -->
<style type="text/css">
    .footer {
        text-align: left;
    }
    .footer-top {
        background: #965786;
        padding: 80px 0;
    }
    .segment-one h3{
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;
    }
    .segment-two h2{
        color: #fff;
        text-transform: uppercase;
    }
    .segment-two h2:before {
        content: '|';
        color: #fff;
        padding-right: 10px;
    }
    .segment-two ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .segment-two ul li {
        border-bottom: 1px solid rgba(255,255,255,0.3);
        line-height: 40px;
    }
    .segment-two ul li a {
        color: #fff;
        text-decoration: none;
    }
    .segment-three h2{
        color: #fff;
        text-transform: uppercase;
    }
    .segment-three p {
        color:#fff;
    }
    .segment-three h2:before {
        content: '|';
        color: #fff;
        padding-right: 10px;
    }
    .segment-three a {
        background: #F8878f;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;  
    }
    .segment-three a:hover {
        background: #70cee4;
    }
    .segment-three a i {
        font-size: 15px;
        color: #faf3e3;
        padding: 8px 9px;
    }
    .footer-bottom-text p {
        text-align: center;
        line-height: 70px;
        margin: 0;
        color: #fff;
    }
    .footer-bottom-text {
        background: #965786;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .md-mb-30 {
            margin-bottom: 30px;
        }
    }
    @media only screen and (max-width: 768px) {
        .sm-mb-30 {
            margin-bottom: 30px;
        }
        .footer-top {
            padding: 50px 0;
        }
    }
</style>

<!-- JS scripts -->
<!-- <script src="app.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.menu').click(function() {
            $('ul').toggleClass('active');
        })
    })
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js" integrity="sha512-BLT+loVwmqdzlGIU9gxbSpRUwhs9I1uWkNkdAJEUM82s337R9T0pBk007MwaJjVTGhOHsovV4y6o/IwscSAglw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js" integrity="sha512-x/Viuh5YndnrDISWqrZ6rerGnHccdLv/TW2B+xEGqubrLGCT6LdBGhnQxXo1Q4sXFgO12YeRWDYJkIV41OtOTA==" crossorigin="anonymous"></script>
<!-- JS scripts End -->
