<!-- Footer Section -->
<!-- <div class="footer">
    <div class="inner-footer">
        <div class="footer-items">
            <h1>Computers & Codes</h1>
            <div class="border"></div>
            <p>
                Lorem ipsum dummy text idek idc
            </p>
        </div>
        <div class="footer-items">
            <h2>Quick Links</h2>
            <div class="border"></div>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#VM"><li>Vision & Mission</li></a>
                <a href="#contact"><li>Contact Us</li></a>
            </ul>
        </div>
        <div class="footer-items">
            <h2>Tutorials</h2>
            <div class="border"></div>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#VM"><li>Vision & Mission</li></a>
                <a href="#contact"><li>Contact Us</li></a>
            </ul>
        </div>
        <div class="footer-items">
            <h2>Contact Us</h2>
            <div class="border"></div>
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"> Dubai, United Arab Emirates </i></li>
                <li><i class="fa fa-phone" aria-hidden="true"> +971 56 1234567 </i></li>
                <li><i class="fa fa-envelope" aria-hidden="true"> theupliftwebsite@gmail.com </i></li>
            </ul>
            <div class="social">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/the.uplift.foundation"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright &copy; The Uplift Foundation 2020. All rights reserved.
    </div>
</div> -->
<!-- Footer End -->

<!-- Footer CSS -->
<!-- <style type="text/css">
    .footer {
    width: 100%;
    background: #70cee4;
    /* background-image: linear-gradient(125deg, #70cee4, #965786); */
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.footer-items h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #4c3b4d;
    text-transform: uppercase;
}

.footer-items h2 {
    margin: 10px 0;
    color: #4c3b4d;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.footer-items p {
    color: #faf3e3;
    font-size: 25px;
    text-align: justify;
    line-height: 25px;
}

.border {
    height: 2px;
    width: 40px;
    background: #faf3e3;
    display: none;
}

.footer-items ul {
    list-style-type: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer-items ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer-items ul a:hover {
    color: #f8878f;
}

.footer-items ul li {
    margin: 10px 0;
    height: 25px;
}

.footer-items ul li i {
    margin-right: 20px;
}

.social {
    width: 100%;
    color: #fff;
    text-align: center;
}

.social a {
    text-decoration: none;
}

.social i {
    height: 15px;
    width: 15px;
    margin: 30px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border : 1px solid grey;
    transition: 0.3s;
}

.social i:hover {
    background: #faf3e3;
}

.footer-bottom {
    padding: 10px;
    background: #70cee4;
    /* background-image: linear-gradient(20deg, #70cee4, #965786); */

    font-size: 12px;
    color: #faf3e3;
}
@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
} 

@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
} 
</style> -->
<!-- Footer CSS end -->

<!-- new footer  -->
<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 segment-one md-mb-30 sm-mb-30">
                    <h3>The Uplift Foundation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-lg-4 segment-two md-mb-30 sm-mb-30">
                    <h2>The Uplift Foundation</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Vision & Mission</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 segment-three md-mb-30 sm-mb-30">
                    <h2>Follow Us</h2>
                    <p>Please follow us on our social media</p>
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a> 
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">Copyright &copy; The Uplift Foundation 2020. All rights reserved.</p>
</footer>
<!-- "col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30" -->
<!-- New footer CSS -->
<style type="text/css">
    .footer {
        text-align: left;
    }
    /* p{
        color: #fff;
        line-height: 25px;
    }
    h2, h3 {
        color: #fff;
    }
    h2 {
        font-style: 18px;
    } */
    .footer-top {
        background: #70cee4;
        padding: 80px 0;
    }
    .segment-one h3{
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;
    }
    .segment-two h2{
        color: #fff;
        text-transform: uppercase;
    }
    .segment-two h2:before {
        content: '|';
        color: #fff;
        padding-right: 10px;
    }
    .segment-two ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .segment-two ul li {
        border-bottom: 1px solid rgba(255,255,255,0.3);
        line-height: 40px;
    }
    .segment-two ul li a {
        color: #fff;
        text-decoration: none;
    }
    .segment-three h2{
        color: #fff;
        text-transform: uppercase;
        margin-left: 5px;
    }
    .segment-three p {
        color:#fff;
        margin-left: 5px;
    }
    .segment-three h2:before {
        content: '|';
        color: #fff;
        padding-right: 10px;
    }
    .segment-three a {
        background: #494848;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 5px;  
    }
    .segment-three a i {
        font-size: 20px;
        color: #fff;
        padding: 10px 12px;
        margin-left: 5px;
    }
    .footer-bottom-text {
        text-align: center;
        background: #70cee4;
        line-height: 70px;
        margin: 0;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .md-mb-30 {
            margin-bottom: 30px;
        }
    }
    @media only screen and (max-width: 768px) {
        .sm-mb-30 {
            margin-bottom: 30px;
        }
        .footer-top {
            padding: 50px 0;
        }
    }
</style>

<!-- JS scripts -->
<!-- <script src="app.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.menu').click(function() {
            $('ul').toggleClass('active');
        })
    })
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- JS scripts End -->